<div class="battle">
  <div class="battletext">
    <%= image_tag("#{$selected[:image]}", class: 'monster-battle') %>
    <p class="monster-name"><%= $selected[:name] %></p>
    <p class="director"><%= $selected[:director] %></p>
    <p class="life">Moviemon Life : <%= $selected[:life] %></p>
    <p class="playerlife">Player Life : <%= $player[:life] %></p>
    <p class="run-button">[B]=>Run</p>
    <p class="fight-button">[A]=>Fight</p>
  </div>
</div>