<div class="moviedex">
  <% if $player[:moviedex][0].nil? %>
      <p>NO MOVIEMON CAUGHT</p>
  <% else %>
      <%= image_tag("#{$player[:moviedex][0][:image]}", class: 'monster-dex') %>
      <p class="monster-name"><%= $player[:moviedex][0][:name] %></p>
      <p class="director">Director : <%= $player[:moviedex][0][:director] %></p>
      <p class="years">Years : <%= $player[:moviedex][0][:year] %></p>
      <p class="rating">Rating : <%= $player[:moviedex][0][:rating] %></p>
      <p class="genre">Genre : <%= $player[:moviedex][0][:genre] %></p>
      <p class="synopsis">Synopsis : <%= $player[:moviedex][0][:synopsis] %></p>
  <% end %>
</div>